<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact V13</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================
  <link rel="icon" type="image/png" href="Users/nitinyadav/static/CSS/images/favicon.ico"/>-->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='CSS/images/favicon.ico') }}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
  <!--<link rel="stylesheet" type="text/css" href="/Users/nitinyadav/static/CSS/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">-->
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/fonts/iconic/css/material-design-iconic-font.min.css') }}">
  <!--<link rel="stylesheet" type="text/css" href="/Users/nitinyadav/static/CSS/fonts/iconic/css/material-design-iconic-font.min.css">-->
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
  <!--<link rel="stylesheet" type="text/css" href="/Users/nitinyadav/static/vendor/animate/animate.css">-->
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
  <!--<link rel="stylesheet" type="text/css" href="/Users/nitinyadav/static/vendor/css-hamburgers/hamburgers.min.css">-->
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
  <!--<link rel="stylesheet" type="text/css" href="/Users/nitinyadav/static/vendor/animsition/css/animsition.min.css">-->
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
  <!--<link rel="stylesheet" type="text/css" href="/Users/nitinyadav/static/vendor/select2/select2.min.css">-->
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">
  <!--<link rel="stylesheet" type="text/css" href="/Users/nitinyadav/static/vendor/daterangepicker/daterangepicker.css">-->
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/util.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/main_form.css') }}">
<!--===============================================================================================-->
</head>
<body>


  <div class="container-contact100">
    <div class="contact100-map" >
      <img src="/static/CSS/images/1.jpg" height="100%">
    </div>


    <div class="wrap-contact100">
      <form action="/tour" method="post">
        <span class="contact100-form-title">
          Enter the Information
        </span>

        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <span class="label-input100">From_City</span>
          <input class="input100" type="text" name="From_City" placeholder="Enter the city name ..." required>
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <span class="label-input100">To_City</span>
          <input class="input100" type="text" name="To_City" placeholder="Enter the city name..." required>
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100">
          <span class="label-input100">Type of Tranport</span><br>
          <input type="radio" name="transport" value="Trains">Trains<br>
          <input type="radio" name="transport" value="Flights"> Flights<br>
          <input type="radio" name="transport" value="TrainsFlights">Trains/Flights<br><br>
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100">
          <span class="label-input100">Type of Trip</span><br>
          <input type="radio" name="trip" value="OneWay">One_Way<br>
          <input type="radio" name="trip" value="BothWay">Both_Way<br>
          <span class="focus-input100"></span>
        </div>

        <!--<div class="wrap-input100 validate-input" data-validate = "Message is required">
          <span class="label-input100">Message</span>
          <textarea class="input100" name="message" placeholder="Questions/Comments..."></textarea>
          <span class="focus-input100"></span>
        </div>-->

        <div class="container-contact100-form-btn">
          <div class="wrap-contact100-form-btn">
            <div class="contact100-form-bgbtn"></div>
            <button class="contact100-form-btn">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>



  <div id="dropDownSelect1"></div>

<!--===============================================================================================-->
  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
  <script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
  <script src="vendor/bootstrap/js/popper.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
  <script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
  <script src="vendor/daterangepicker/moment.min.js"></script>
  <script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
  <script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
  <script src="js/map-custom.js"></script>
<!--===============================================================================================-->
  <script src="js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
