<!DOCTYPE html>
<html>
<head>
	<title>make_your_trip</title>
</head>
<body>
<form action="www.google.com" method="get" style="text-align: center">
  From (Station):<br>
  <input type="text" name="From"><br>
  To (Station):<br>
  <input type="text" name="To"><br>
  Date :<br>
  <input type="Date" name="Date of travelling"><br>
  <input type="radio" name="Type of journey" value="oneside" checked> One-Way<br>
  <input type="radio" name="Type of journey" value="doubleside" checked> Both-Way<br>
  <input type="Submit" value="search">
</form>
</body>
</html>